<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{.PageTitle}}</title>
	<style type="text/css">
		body{
			font-family: sans-serif;
		}
		form{
			position: absolute;
			width: 20%;
			left: 40%;
			display: grid;
			box-shadow: 2px 2px grey;
			padding-bottom: 10px;
		}
		label{
			font-size: 16px;
			margin: 10px 20px 0px 20px;
		}
		input{
			font-size: 14px;
			margin: 10px 20px 5px 20px;
			border-radius: 5px;
			text-align: center;
		}
		#login-button{
			width: 70%;
			height: 30px;
			margin-left: 15%;
			font-size: 18px;
			background-color: #07a858;
			color: white;
		}
	</style>
</head>
<body>
	<h1>{{.PageTitle}}</h1>
	<h3>Please, log in!</h3>
	<p>You can choose between login in with your email & password, or with your Google Account.</p>
	<form method="POST">
		<label for="username">Username</label>
		<input type="text" name="username" value={{.Data.Username}}>
		<label for="password">Password</label>
		<input type="password" name="password" value={{.Data.Pass}}>
		<input id="login-button" type="submit" value="Let's get in!">
	</form>
	<p>If you don't have a username and password, click <a href="users/register">here!</a></p>
	<p>If you forgotten your password, click <a href="users/register">here!</a></p>
</body>
</html>