<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{.PageTitle}}</title>
	<style type="text/css">
		body{
			font-family: sans-serif;
		}
		#text-container{
			position: relative;
		}
	</style>
</head>
<body>
	<div id="text-container">
		<h1>{{.PageTitle}}</h1>
		<h4>You can go back home by clicking <a href="/">here!</a></h4>
	</div>
</body>
</html>