<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{.PageTitle}}</title>
	<style type="text/css">
		body{
			font-family: sans-serif;
		}
		form{
			position: absolute;
			width: 20%;
			left: 40%;
			display: grid;
			box-shadow: 2px 2px grey;
			padding-bottom: 10px;
		}
		label{
			font-size: 16px;
			margin: 10px 20px 0px 20px;
		}
		input{
			font-size: 14px;
			margin: 10px 20px 5px 20px;
			border-radius: 5px;
			text-align: center;
		}
		#login-button{
			width: 70%;
			height: 30px;
			margin-left: 15%;
			font-size: 18px;
			background-color: #07a858;
			color: white;
		}
		#text-container{
			position: relative;
		}
	</style>
</head>
<body>
	<h1>{{.PageTitle}}</h1>
	<div id="text-container">
		<h3>Welcome {{.Data.Username}}! Please, fill the form with your information to create a user.</h3>
		<p>Once you will be registered, you will be able to edit your profile.</p>
	</div>
	<form method="POST">
		<label for="username">Username</label>
		<input type="text" name="username" value={{.Data.Username}}>
		<label for="password">Password</label>
		<input type="password" name="password" value={{.Data.Pass}}>
		<input id="login-button" type="submit" value="Register">
	</form>
</body>
</html>