<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{.PageTitle}}</title>
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
	<style type="text/css">
		body{
			font-family: sans-serif;
		}
		form{
			position: absolute;
			width: 40%;
			left: 30%;
			display: grid;
			box-shadow: 2px 2px grey;
			padding-bottom: 10px;
		}
		label{
			font-size: 16px;
			margin: 10px 20px 0px 20px;
		}
		input{
			font-size: 14px;
			margin: 10px 20px 5px 20px;
			border-radius: 5px;
			text-align: center;
		}
		#save-button{
			width: 70%;
			height: 30px;
			margin-left: 15%;
			font-size: 18px;
			background-color: #07a858;
			color: white;
		}
		#locationField, #controls {
			position: relative;
			width: 480px;
		}
		#autocomplete {
			position: absolute;
			margin: 10px 20px 5px 20px;
			top: 0px;
			left: 0px;
			width: 99%;
		}
		.label {
			text-align: right;
			font-weight: bold;
			width: 100px;
			color: #303030;
			font-family: "Roboto";
		}
		#address {
			border: 1px solid #000090;
			background-color: #f0f9ff;
			width: 480px;
			padding-right: 2px;
		}
		#address td {
			font-size: 10pt;
		}
		.field {
			width: 99%;
		}
		.slimField {
			width: 80px;
		}
		.wideField {
			width: 200px;
		}
		#locationField {
			height: 40px;
			margin: 10px 0px 5px 0px;
		}
	</style>
</head>
<body>
	<h1>{{.PageTitle}}</h1>
	{{ if .LoggedOn }}
	<a href="/users/logout/">Logout</a>
	{{ end }}
	<form method="POST">
		<input type="hidden" name="id" value={{.Data.Id}}>
		<label for="username">Username</label>
		<input type="text" name="username" value={{.Data.Username}}>
		<label for="fullname">Name</label>
		<input type="text" name="fullname" value={{.Data.FullName}}>
		<label for="phone">Telephone</label>
		<input type="text" name="phone" value={{.Data.Phone}}>
		<label for="password">Password</label>
		<input type="password" name="password" value={{.Data.Pass}}>
		<div id="locationField">
			<label for="google">Address</label>
			<input id="autocomplete"
			name="google"
			placeholder="Enter your address"
			onFocus="geolocate()"
			type="text"
			value={{.Data.Address}}/>
		</div>
		<input id="save-button" type="submit" value="Save changes">
	</form>
	<script>
// This sample uses the Autocomplete widget to help the user select a
// place, then it retrieves the address components associated with that
// place, and then it populates the form fields with those details.
// This sample requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script
// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

var placeSearch, autocomplete;

var componentForm = {
	street_number: 'short_name',
	route: 'long_name',
	locality: 'long_name',
	administrative_area_level_1: 'short_name',
	country: 'long_name',
	postal_code: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search predictions to
  // geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
  	document.getElementById('autocomplete'), {types: ['geocode']});

  // Avoid paying for data that you don't need by restricting the set of
  // place fields that are returned to just the address components.
  autocomplete.setFields(['address_component']);

  // When the user selects an address from the drop-down, populate the
  // address fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
  	document.getElementById(component).value = '';
  	document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details,
  // and then fill-in the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
  	var addressType = place.address_components[i].types[0];
  	if (componentForm[addressType]) {
  		var val = place.address_components[i][componentForm[addressType]];
  		document.getElementById(addressType).value = val;
  	}
  }
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			var geolocation = {
				lat: position.coords.latitude,
				lng: position.coords.longitude
			};
			var circle = new google.maps.Circle(
				{center: geolocation, radius: position.coords.accuracy});
			autocomplete.setBounds(circle.getBounds());
		});
	}
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs7AveR4qwrzU_-wtu0Oo6GA2FG_-23sQ&libraries=places&callback=initAutocomplete"
async defer></script>
</body>
</html>